/* Styling for NotesPanel.tsx. Main purpose is to display notes in a grid */

.notes-panel {
    display: grid;
    grid-template-columns: 375px 375px 375px 375px;
    margin-top: 10px;
    gap: 15px;
    position: relative;
}
