* {
    color: beige;
}

.side-bar {
    background-color: #130e0e;
    width: 300px;
    min-height: 100vh;
}

.new-note-btn {
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(51, 204, 153, 0.4);
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 15px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    align-content: center;
    font-size: 12px;

    &:hover {
        transform: scale(1.1);
    }
}

.plus {
    margin-right: 10px;
    font-size: 20px;
    font-family: google sans, sans-serif;
}

.notebook {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between; 
    font-size: 9px;
    
    border-bottom: 1px solid rgb(92, 64, 50, 0.5);
    
}

.plus-btn {
    border: none;
    cursor: pointer;
    background: none;
    font-size: 17px;
    font-family: google sans, sans-serif;

    &:hover {
        transform: scale(1.5);
    }
}

.close-modal {
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.notebook-list {
    list-style-type: none;
    text-align: left;
    padding: 15px;
}

.notebook-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 15px;
    color:rgba(245, 245, 220, 0.664);
    display: flex;
}

.notebook-btn-active {
    background-color: rgb(92, 64, 50, 0.5);
    border: none;
    border-radius: 50px;
    width: 270px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.add-note {
    background-color: pink;
    display: flex;
    resize: none;
    justify-content: center;
    align-content: center;
}

.logo-img {
    display: flex;
    width: 30px;
    flex-direction: column;
}

.logo-title {
    display: flex;
    align-items: center;
    font-size: x-small;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: beige;
    
}

.edit-btn {
    display: flex;
    width: 15px;
    flex-direction: column;
    background: none;
    border: none;
    background-color: transparent;
    margin-left: auto;
    flex-shrink: 0;
    cursor: pointer;

    &:hover {
        transform: scale(1.5);
    }
}

.delete-btn {
    display: flex;
    width: 15px;
    flex-direction: column;
    background: none;
    border: none;
    background-color: transparent;
    flex-shrink: 0;
    cursor: pointer;

    &:hover {
        transform: scale(1.5);
    }
}

.notebook-item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}