.note-card {
    background-color: rgba(24, 17, 16);
    border: 1px solid rgba(255, 241, 233, 0.167);
    border-radius: 18px;
    padding: 15px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    max-width: 375px;
    height: 220px;
    margin: 4px;
}

.note-card-title {
    font-size: 1.1rem;
}

.note-card-description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 30px 0px;
}

.note-card-date {
    font-size: 0.8rem;
}